@import "./variables";

//flex container
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//form labels
@mixin label {
  position: absolute;
  font-size: 12px;
  line-height: 19px;
  color: $text-grey;
  background-color: $background-light;
  border-radius: 4px;
  padding: 2px 6px;
  top: -12px;
  left: 10px;
}

// Breakpoints
@mixin mobileSMaxBreakPoint {
  @media (max-width: #{$mobileS}) {
    @content;
  }
}

@mixin mobileMMaxBreakPoint {
  @media (max-width: #{$mobileM}) {
    @content;
  }
}

@mixin mobileLMaxBreakPoint {
  @media (max-width: #{$mobileL}) {
    @content;
  }
}

@mixin mobileLandscapeMaxBreakPoint {
  @media (max-width: #{$mobileLandscape}) {
    @content;
  }
}

@mixin tabletMaxBreakPoint {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

//add rest of breakpoints if needed
