@import "../../Styles/variables";

form {
  // position: absolute;
  // top: 60px;

  .product_form-actions {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin: 40px 20px;
  }

  .product_form-fields {
    margin: 40px 20px;

    .data-field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
    //   border: 1px solid $text-grey;
      border-radius: 4px;
      margin-bottom: 32px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    }
    .message {
      margin-top: 8px;
      font-size: 12px;
      &.error {
        color: $text-alert;
      }
    }
  }
}
